{% extends 'base.html.twig' %}

{% block title %}Petite Annonces{% endblock %}

{% block body %}

 


<h3>A la Une</h3>
{% for annonces in annonce %}
{% if annonces.image is not empty %}
<div class="card border-dark mb-3" style="width:35rem;">
    <img src="{{ asset('uploads/files/' ~ annonces.image ~ ' ') }}" alt="petite annonce">
     {% endif %}

<div class="card-body">
    <h4 class="card-title">{{ annonces.title }}</h4> 
  <p class="card-text">{{ annonces.description }}</p>
  <button id="myBtn">Voir</button>
    
</div>
  </div>



{% else %}
        Aucune série trouvée.
{% endfor %}
        

{% endblock %}
