{% extends 'base.html.twig' %}

{% block title %}Petite Annonces{% endblock %}

{% block body %}


<h2>Ala Une</h2>

<div class="cardi">
    <img src="{{asset('/build/images/demenagement.9e1bc915.jpg') }}" alt="">
  <div class="container">
    <h4><b>John Doe</b></h4> 
    <p>Urgent/Démenagement</p> 
  </div>
</div>

{% endblock %}
